In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd

In [5]:
df=pd.read_excel('roadAccStats13-16.xlsx')

In [7]:
df1=pd.read_csv('Details_of_road_accident_deaths_by_situation_state_2014.csv')

In [9]:
df2=pd.read_csv('Persons_killed_due_to_Non-use_of_Safety_Device_2016.csv')

In [25]:
df3=pd.read_excel('accidents03-16new.xls')

In [29]:
df4=pd.read_csv('laneAccidents.csv')

In [31]:
df5=pd.read_csv('reasonOfAccident.csv')

In [33]:
df6=pd.read_csv('typeOfVehicle.csv')

In [45]:
df7=pd.read_excel('timeOfOccurence.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [188]:
#Q1.. 1. The percentage of road accidents during all the years.
#Load The Dataset
df=pd.read_excel('roadAccStats13-16.xlsx')

# sum of one by one column
sum_of_road_accident=df[['State/UT-Wise Total Number of Road Accidents during - 2013','State/UT-Wise Total Number of Road Accidents during - 2014','State/UT-Wise Total Number of Road Accidents during - 2015','State/UT-Wise Total Number of Road Accidents during - 2016']].sum()
sum_of_road_accident

#sum of all column
a=sum(total_sum_road_accident)
a

#showing in percentage
percentages = [(element / a) * 100 for element in sum_of_road_accident]
percentages

print("percentage of road accidents during all the years",percentages)

percentage of road accidents during all the years [24.846178479441008, 24.995518273950676, 25.60957858495948, 24.548724661648833]

In [12]:
# Q.2.... Mean Accidents per 1L population for each year.

#read the CSV
df=pd.read_excel('roadAccStats13-16.xlsx')

#assing variable to column 
col_name='Total Number of Accidents Per Lakh Population - 2013'
col_name1='Total Number of Accidents Per Lakh Population - 2014'
col_name2='Total Number of Accidents Per Lakh Population - 2015'
col_name3='Total Number of Accidents Per Lakh Population - 2016'

#show mean of the column
mean=df[col_name].mean()
mean1=df[col_name1].mean()
mean2=df[col_name2].mean()
mean3=df[col_name3].mean()

#print the mean of the years
print(f"Mean of Year 2013:{mean:.2f}")
print(f"Mean of Year 2014:{mean1:.2f}")
print(f"Mean of Year 2015:{mean2:.2f}")
print(f"Mean of Year 2016:{mean3:.2f}")

Mean of Year 2013:41.91
Mean of Year 2014:39.88
Mean of Year 2015:40.83
Mean of Year 2016:39.64

In [7]:
#Q.6 The number of accidents happening per state from the year 2003 to 2016.

#load the dataset
df3 = pd.read_excel('accidents03-16new.xls')

#calculate total number of accident
df3['total accidents of year'] = df3.iloc[:, 1:].sum(axis=1)

#Sort by state descending order
data_sort = df3[['States/Uts', 'total accidents of year']].sort_values(by='total accidents of year', ascending=False)
data_sort

                   States/Uts  total accidents of year
36                  All India                1529582.0
23                 Tamil Nadu                 174555.0
27              Uttar Pradesh                 166668.0
0              Andhra Pradesh                 152359.0
14                Maharashtra                 147503.0
11                  Karnataka                 111292.0
21                  Rajasthan                 106646.0
13             Madhya Pradesh                  88699.0
6                     Gujarat                  86631.0
28                West Bengal                  62465.0
7                     Haryana                  54286.0
3                       Bihar                  50328.0
12                     Kerala                  49824.0
20                     Punjab                  48074.0
19                     Odisha                  42294.0
4                Chhattisgarh                  37655.0
10                  Jharkhand                  29837.0
33                      Delhi                  26314.0
2                       Assam                  25051.0
24                  Telangana                  19502.0
9             Jammu & Kashmir                  10469.0
8            Himachal Pradesh                   9790.0
26                Uttarakhand                   9749.0
5                         Goa                   3932.0
35                 Puducherry                   2918.0
25                    Tripura                   2688.0
30                 Chandigarh                   1890.0
16                  Meghalaya                   1799.0
15                    Manipur                   1642.0
1           Arunachal Pradesh                   1309.0
17                    Mizoram                    831.0
31       Dadra & Nagar Haveli                    688.0
22                     Sikkim                    623.0
18                   Nagaland                    595.0
32                Daman & Diu                    381.0
29  Andaman & Nicobar Islands                    292.0
34                Lakshadweep                      3.0

In [13]:
 #Q3. The highest number of accident states and least number of accident states.

#Load the dataset
df3 = pd.read_excel('accidents03-16new.xls')

# calculate the accident for each state
df3['total accident of state'] = df3.iloc[:, 1:].sum(axis=1)

# sort the data descending order
data_sort = df3[['States/Uts', 'total accident of state']].sort_values(by='total accident of state', ascending=False)
data_sort
# showing highest number of accident states 
highest_accident_states = data_sort.iloc[0]

#showing least number of accident states
least_accident_states = data_sort.iloc[-1]

#print the statement 
print('highest number of accident states:',highest_accident_states)
print('least number of accident states',least_accident_states)

highest number of accident states: States/Uts                 All India
total accident of state    1529582.0
Name: 36, dtype: object
least number of accident states States/Uts                 Lakshadweep
total accident of state            3.0
Name: 34, dtype: object

In [15]:
#Q4.Offenders and victims who died according to gender as well the as the total deaths.

#Load the data set 
df1=pd.read_csv('Details_of_road_accident_deaths_by_situation_state_2014.csv')

#Sum of  offenders died male
a=df1['Offenders (Driver/Pedestrian) Died_Male'].sum()
print("Offenders Died_Male",a)

#Sum of  offenders died female
b=df1['Offenders (Driver/Pedestrian) Died_Female'].sum()
print("Offenders Died_Female",b)

#Sum of  offenders died transgender
c=df1['Offenders (Driver/Pedestrian) Died_Transgender'].sum()
print("Offenders Died_Transgender",c)

# sum of victims died male
d=df1['Victims Died_Male'].sum()
print("Victims Died_Male",d)

# sum of victims died female
e=df1['Victims Died_Female'].sum()
print("Victims Died_Female",e)

# victim transgender are not present in dataset

Offenders Died_Male 363048
Offenders Died_Female 31338
Offenders Died_Transgender 0
Victims Died_Male 1018575
Victims Died_Female 199995

In [17]:
#Q5...Percentage of Deaths occurring due to non-wearing of helmets between male and female.

#load the dataset

df2=pd.read_csv('Persons_killed_due_to_Non-use_of_Safety_Device_2016.csv')

#sum of Non-wearing of Helmet male anf female
total_male = df2['Non-wearing of Helmet - Male'].sum()
total_female = df2['Non-wearing of Helmet - Female'].sum()

#sum of total deaths male and female
total_deaths = total_male + total_female

# Calculate percentages
percent_male = (total_male / total_deaths) * 100 if total_deaths > 0 else 0
percent_female = (total_female / total_deaths) * 100 if total_deaths > 0 else 0

# print the all results
print(f"Total Deaths due to Non-wearing of Helmets: {total_deaths}")
print(f"Percentage of Male Deaths: {percent_male:.2f}%")
print(f"Percentage of Female Deaths: {percent_female:.2f}%")

Total Deaths due to Non-wearing of Helmets: 20270
Percentage of Male Deaths: 85.01%
Percentage of Female Deaths: 14.99%

In [64]:
#Q7.... 7. Number of ACCIDENTS for 1,2,3,4 LANE per 1L population of resp. state.

#load the dataset
df4 = pd.read_csv('laneAccidents.csv')

#calculating all lane accident
df4['total_all_lane_accident'] = df4['Single Lane - Accident - 2014 per 1L people'] + df4['Two Lanes - Accident - 2014 per 1L people'] + df4['3 Lanes or more w.o Median - Accident - 2014 per 1L people'] + df4['4 Lanes with Median - Accident - 2014 per 1L people'].fillna(0)

#showing result
data_result=df4[['State/UT','total_all_lane_accident']]
data_result

                     State/UT  total_all_lane_accident
0              Andhra Pradesh                46.631741
1           Arunachal Pradesh                14.815061
2                       Assam                22.893344
3                       Bihar                 9.179683
4                Chhattisgarh                54.104102
5                         Goa               289.946488
6                     Gujarat                39.232496
7                     Haryana                42.111970
8            Himachal Pradesh                44.547375
9             Jammu & Kashmir                46.733585
10                  Jharkhand                15.717773
11                  Karnataka                71.548879
12                     Kerala               108.609034
13             Madhya Pradesh                73.625705
14                Maharashtra                54.840815
15                    Manipur                26.017283
16                  Meghalaya                18.268294
17                    Mizoram                12.030558
18                   Nagaland                15.415703
19                     Orissa                22.985538
20                     Punjab                23.036161
21                  Rajasthan                35.927880
22                     Sikkim                33.247240
23                 Tamil Nadu                93.212430
24                  Telangana                62.247945
25                    Tripura                19.488736
26                Uttarakhand                13.979369
27              Uttar Pradesh                15.531573
28                West Bengal                14.105552
29  Andaman & Nicobar Islands                57.280842
30                 Chandigarh                34.961391
31       Dadra & Nagar Haveli                25.312110
32                Daman & Diu                16.033086
33                      Delhi                      NaN
34                Lakshadweep                 1.551037
35                 Puducherry                89.025789
36                     Total                 39.704259

In [66]:
#Q8.. Number of people INJURED for 1,2,3,4 type of lane per 1L population of resp. State.


#load the dataset
df4 = pd.read_csv('laneAccidents.csv')

#calculating all lane injured
df4['total_all_lane_injured'] = df4['Single Lane - Injured - 2014 per 1L people'] + df4['Two Lanes - Injured - 2014 per 1L people'] + df4['3 Lanes or more w.o Median - Injured - 2014 per 1L people'] + df4['4 Lanes with Median - Injured - 2014 per 1L people'].fillna(0)

#showing result
data_result=df4[['State/UT','total_all_lane_injured']]
data_result

                     State/UT  total_all_lane_injured
0              Andhra Pradesh               57.108619
1           Arunachal Pradesh               22.258726
2                       Assam               20.826406
3                       Bihar                6.378516
4                Chhattisgarh               51.504788
5                         Goa              128.827016
6                     Gujarat               37.215610
7                     Haryana               35.280017
8            Himachal Pradesh               81.228307
9             Jammu & Kashmir               64.132097
10                  Jharkhand               13.204748
11                  Karnataka               93.020253
12                     Kerala              123.019592
13             Madhya Pradesh               76.190873
14                Maharashtra               36.000214
15                    Manipur               45.346408
16                  Meghalaya               10.482360
17                    Mizoram               21.326898
18                   Nagaland               11.624957
19                     Orissa               26.413833
20                     Punjab               14.875643
21                  Rajasthan               40.049053
22                     Sikkim               57.650386
23                 Tamil Nadu              107.731392
24                  Telangana               67.078222
25                    Tripura               33.343159
26                Uttarakhand               15.179017
27              Uttar Pradesh               11.178989
28                West Bengal               13.166643
29  Andaman & Nicobar Islands               74.359992
30                 Chandigarh               31.740016
31       Dadra & Nagar Haveli               27.930604
32                Daman & Diu               20.144133
33                      Delhi                     NaN
34                Lakshadweep                1.551037
35                 Puducherry              106.013608
36                     Total                40.070117

In [70]:
#Q9...Number of people KILLED for 1,2,3,4 LANES per 1L population of resp. States.


#load the dataset
df4 = pd.read_csv('laneAccidents.csv')

#calculating all lane killed
df4['total_all_killed'] = df4['Single Lane - Killed - 2014 per 1L people'] + df4['Two Lanes - Killed - 2014 per 1L people'] + df4['3 Lanes or more w.o Median - Killed - 2014 per 1L people'] + df4['4 Lanes with Median - Killed - 2014 per 1L people'].fillna(0)

#showing result
data_result=df4[['State/UT','total_all_killed']]
data_result

                     State/UT  total_all_killed
0              Andhra Pradesh         15.088536
1           Arunachal Pradesh          8.599962
2                       Assam          8.081889
3                       Bihar          4.719525
4                Chhattisgarh         15.744642
5                         Goa         19.882828
6                     Gujarat         13.161880
7                     Haryana         17.683398
8            Himachal Pradesh         17.466417
9             Jammu & Kashmir          7.909865
10                  Jharkhand          7.966501
11                  Karnataka         17.107700
12                     Kerala         12.120555
13             Madhya Pradesh         11.798673
14                Maharashtra         11.393171
15                    Manipur          5.882777
16                  Meghalaya          4.752453
17                    Mizoram          9.387481
18                   Nagaland          4.094006
19                     Orissa          9.365273
20                     Punjab         16.656251
21                  Rajasthan         15.009824
22                     Sikkim          9.662991
23                 Tamil Nadu         21.054228
24                  Telangana         21.410714
25                    Tripura          5.117154
26                Uttarakhand          8.704884
27              Uttar Pradesh          8.151148
28                West Bengal          6.436514
29  Andaman & Nicobar Islands          6.043392
30                 Chandigarh         12.411767
31       Dadra & Nagar Haveli         17.165684
32                Daman & Diu          6.166571
33                      Delhi               NaN
34                Lakshadweep          0.000000
35                 Puducherry         12.099815
36                     Total          11.396906

In [33]:
#Q.10....Number of Accidents, people KILLED, INJURED on SINGLE LANE per 1L population.

# load the dataset
df4 = pd.read_csv('laneAccidents.csv')

#calculate number of accident SINGLE LANE per 1L population.
number_of_Accident=df4['Single Lane - Accident - 2014 per 1L people'].sum()
print('Number of Accident SINGLE LANE per 1L population:',number_of_Accident)

#calculate number of killed SINGLE LANE per 1L population.
number_of_KILLED=df4['Single Lane - Killed - 2014 per 1L people'].sum()
print('Number of Killed SINGLE LANE per 1L population:',number_of_KILLED)

#calculate number of injured SINGLE LANE per 1L population.

number_of_INJURED=df4['Single Lane - Injured - 2014 per 1L people'].sum()
print('Number of injured SINGLE LANE per 1L population:',number_of_INJURED)

Number of Accident SINGLE LANE per 1L population: 771.540397019
Number of Killed SINGLE LANE per 1L population: 181.680040171
Number of injured SINGLE LANE per 1L population: 765.068077997

In [37]:
#  Q 11... Number of accidents, people INJURED, KILLED on DOUBLE LANE per 1L population.


# load the dataset
df4 = pd.read_csv('laneAccidents.csv')

#calculate number of accident DOUBLE LANE per 1L population.
number_of_Accident=df4['Two Lanes - Accident - 2014 per 1L people'].sum()
print('Number of Accident DOUBLE LANE per 1L population:',number_of_Accident)

#calculate number of killed DOUBLE LANE per 1L population.
number_of_KILLED=df4['Two Lanes - Killed - 2014 per 1L people'].sum()
print('Number of Killed DOUBLE LANE per 1L population:',number_of_KILLED)

#calculate number of injured DOUBLE LANE per 1L population.

number_of_INJURED=df4['Two Lanes - Injured - 2014 per 1L people'].sum()
print('Number of Injured DOUBLE LANE per 1L population:',number_of_INJURED)

Number of Accident DOUBLE LANE per 1L population: 677.1840276900001
Number of Killed DOUBLE LANE per 1L population: 168.513906106
Number of Injured DOUBLE LANE per 1L population: 717.506047164

In [39]:
# Q.12...Number of accidents, people INJURED, KILLED on THREE LANE per 1L population.


# load the dataset
df4 = pd.read_csv('laneAccidents.csv')

#calculate number of accident THREE LANE per 1L population.
number_of_Accident=df4['3 Lanes or more w.o Median - Accident - 2014 per 1L people'].sum()
print('Number of Accident THREE LANE per 1L population:',number_of_Accident)

#calculate number of killed THREE LANE per 1L population.
number_of_KILLED=df4['3 Lanes or more w.o Median - Killed - 2014 per 1L people'].sum()
print('Number of Killed THREE LANE per 1L population:',number_of_KILLED)

#calculate number of injured THREE LANE per 1L population.

number_of_INJURED=df4['3 Lanes or more w.o Median - Injured - 2014 per 1L people'].sum()
print('Number of Injured THREE LANE per 1L population:',number_of_INJURED)

Number of Accident THREE LANE per 1L population: 41.449440754
Number of Killed THREE LANE per 1L population: 10.718240656999999
Number of Injured THREE LANE per 1L population: 32.068122345

In [41]:
# Q 13... Number of accidents, people INJURED, KILLED on FOUR LANE per 1L population.


# load the dataset
df4 = pd.read_csv('laneAccidents.csv')

#calculate number of accident FOUR LANE per 1L population.
number_of_Accident=df4['4 Lanes with Median - Accident - 2014 per 1L people'].sum()
print('Number of Accident FOUR LANE per 1L population:',number_of_Accident)

#calculate number of killed FOUR LANE per 1L population.
number_of_KILLED=df4['4 Lanes with Median - Killed - 2014 per 1L people'].sum()
print('Number of Killed FOUR LANE per 1L population:',number_of_KILLED)

#calculate number of injured FOUR LANE per 1L population.

number_of_INJURED=df4['4 Lanes with Median - Injured - 2014 per 1L people'].sum()
print('Number of Injured FOUR LANE per 1L population:',number_of_INJURED)

Number of Accident FOUR LANE per 1L population: 113.72696122599999
Number of Killed FOUR LANE per 1L population: 38.783188456000005
Number of Injured FOUR LANE per 1L population: 108.81000265400002

In [76]:
# Q..14... Total Number of INJURED, KILLED, ROAD ACCIDENTS irrespective of lanes per 1L population of resp. State.

#load the dataset
df4 = pd.read_csv('laneAccidents.csv')

#calculate the INJURED, KILLED, ROAD ACCIDENTS irrespective of lanes per 1L population of resp. State.

df4['total_of_accident_per_1lakh_for_all_lane'] = df4['Single Lane - Accident - 2014 per 1L people'] + df4['Two Lanes - Accident - 2014 per 1L people'] + df4['3 Lanes or more w.o Median - Accident - 2014 per 1L people'] + df4['4 Lanes with Median - Accident - 2014 per 1L people'].fillna(0)

df4['total_of_killed_per_1lakh_for_all_lane'] = df4['Single Lane - Killed - 2014 per 1L people'] + df4['Two Lanes - Killed - 2014 per 1L people'] + df4['3 Lanes or more w.o Median - Killed - 2014 per 1L people'] + df4 ['4 Lanes with Median - Killed - 2014 per 1L people'].fillna(0)

df4['total_of_injured_per_1lakh_for_all_lane'] = df4['Single Lane - Injured - 2014 per 1L people'] + df4['Two Lanes - Injured - 2014 per 1L people'] + df4['3 Lanes or more w.o Median - Injured - 2014 per 1L people'] + df4['4 Lanes with Median - Injured - 2014 per 1L people'].fillna(0)

#show result
result=df4[['State/UT','total_of_accident_per_1lakh_for_all_lane','total_of_killed_per_1lakh_for_all_lane','total_of_injured_per_1lakh_for_all_lane']]
result

,State/UT,total_of_accident_per_1lakh_for_all_lane,total_of_killed_per_1lakh_for_all_lane,total_of_injured_per_1lakh_for_all_lane
0,Andhra Pradesh,46.631741,15.088536,57.108619
1,Arunachal Pradesh,14.815061,8.599962,22.258726
2,Assam,22.893344,8.081889,20.826406
3,Bihar,9.179683,4.719525,6.378516
4,Chhattisgarh,54.104102,15.744642,51.504788
5,Goa,289.946488,19.882828,128.827016
6,Gujarat,39.232496,13.161880,37.215610
7,Haryana,42.111970,17.683398,35.280017
8,Himachal Pradesh,44.547375,17.466417,81.228307
9,Jammu & Kashmir,46.733585,7.909865,64.132097
10,Jharkhand,15.717773,7.966501,13.204748
11,Karnataka,71.548879,17.107700,93.020253
12,Kerala,108.609034,12.120555,123.019592
13,Madhya Pradesh,73.625705,11.798673,76.190873
14,Maharashtra,54.840815,11.393171,36.000214
15,Manipur,26.017283,5.882777,45.346408
16,Meghalaya,18.268294,4.752453,10.482360
17,Mizoram,12.030558,9.387481,21.326898
18,Nagaland,15.415703,4.094006,11.624957
19,Orissa,22.985538,9.365273,26.413833
20,Punjab,23.036161,16.656251,14.875643
21,Rajasthan,35.927880,15.009824,40.049053
22,Sikkim,33.247240,9.662991,57.650386
23,Tamil Nadu,93.212430,21.054228,107.731392
24,Telangana,62.247945,21.410714,67.078222
25,Tripura,19.488736,5.117154,33.343159
26,Uttarakhand,13.979369,8.704884,15.179017
27,Uttar Pradesh,15.531573,8.151148,11.178989
28,West Bengal,14.105552,6.436514,13.166643
29,Andaman & Nicobar Islands,57.280842,6.043392,74.359992
30,Chandigarh,34.961391,12.411767,31.740016
31,Dadra & Nagar Haveli,25.312110,17.165684,27.930604
32,Daman & Diu,16.033086,6.166571,20.144133
33,Delhi,NaN,NaN,NaN
34,Lakshadweep,1.551037,0.000000,1.551037
35,Puducherry,89.025789,12.099815,106.013608
36,Total,39.704259,11.396906,40.070117

In [88]:
#..Q..15 Number of people KILLED for each different REASON per 1L population of that state.

#load the dataset
df5=pd.read_csv('reasonOfAccident.csv')



#calculate the KILLED for each different REASON per 1L population of that state.

df5['Total_number_of_killed_all_Resons_per_1lakh_population'] = df5['Fault of Driver-Number of Persons-Killed - 2014 per 1L people'] + df5['Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people']+df5['Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people']+df5['Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people']+df5['Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people']+df5['Weather Condition-Number of Persons-Killed - 2014 per 1L people']+df5['Fault of Passenger-Number of Persons-Killed - 2014 per 1L people']+df5['Poor light-Number of Persons-Killed - 2014 per 1L people']+df5['Falling of boulders-Number of Persons-Killed - 2014 per 1L people']+df5['Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people'].fillna(0)





#show result
result=df5[['States/UTs','Total_number_of_killed_all_Resons_per_1lakh_population']]
result

,States/UTs,Total_number_of_killed_all_Resons_per_1lakh_population
0,Andhra Pradesh,14.880563
1,Arunachal Pradesh,7.949545
2,Assam,7.988957
3,Bihar,4.515874
4,Chhattisgarh,15.267057
5,Goa,19.334337
6,Gujarat,12.920317
7,Haryana,17.095661
8,Himachal Pradesh,17.466417
9,Jammu & Kashmir,7.216157
10,Jharkhand,7.817963
11,Karnataka,16.891644
12,Kerala,12.120555
13,Madhya Pradesh,11.718813
14,Maharashtra,11.335329
15,Manipur,5.882777
16,Meghalaya,4.685042
17,Mizoram,9.387481
18,Nagaland,4.094006
19,Odisha,9.279506
20,Punjab,15.956984
21,Rajasthan,14.977730
22,Sikkim,9.662991
23,Tamil Nadu,20.987697
24,Telangana,21.190592
25,Tripura,5.089935
26,Uttarakhand,8.704884
27,Uttar Pradesh,7.397441
28,West Bengal,6.219590
29,Andaman & Nicobar Is.,6.043392
30,Chandigarh,12.411767
31,Dadra & Nagar Haveli,17.165684
32,Daman & Diu,6.166571
33,Delhi,9.953573
34,Lakshadweep,0.000000
35,Puducherry,12.099815
36,Total,11.266254

In [90]:
# Q..16... Number of people INJURED for each reason per 1L people of that state.


#load the dataset
df5=pd.read_csv('reasonOfAccident.csv')



#calculate the  INJURED for each different REASON per 1L population of that state.

df5['Total_number_of_INJURED_all_Resons_per_1lakh_population'] = df5['Fault of Driver-Number of Persons-Injured - 2014 per 1L people'] + df5['Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people']+df5['Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people']+df5['Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people']+df5['Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people']+df5['Weather Condition-Number of Persons-Injured - 2014 per 1L people']+df5['Fault of Passenger-Number of Persons-Injured - 2014 per 1L people']+df5['Poor light-Number of Persons-Injured - 2014 per 1L people']+df5['Falling of boulders-Number of Persons-Injured - 2014 per 1L people']+df5['Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people'].fillna(0)





#show result
result=df5[['States/UTs','Total_number_of_INJURED_all_Resons_per_1lakh_population']]
result

,States/UTs,Total_number_of_INJURED_all_Resons_per_1lakh_population
0,Andhra Pradesh,56.364495
1,Arunachal Pradesh,19.151176
2,Assam,20.656565
3,Bihar,6.040378
4,Chhattisgarh,50.064204
5,Goa,125.604627
6,Gujarat,36.092176
7,Haryana,34.637056
8,Himachal Pradesh,81.213740
9,Jammu & Kashmir,57.537886
10,Jharkhand,13.010739
11,Karnataka,91.707550
12,Kerala,123.019592
13,Madhya Pradesh,75.575398
14,Maharashtra,35.836475
15,Manipur,44.751127
16,Meghalaya,10.347539
17,Mizoram,21.326898
18,Nagaland,11.624957
19,Odisha,26.185122
20,Punjab,14.349391
21,Rajasthan,40.000912
22,Sikkim,57.650386
23,Tamil Nadu,107.480516
24,Telangana,66.293845
25,Tripura,33.207065
26,Uttarakhand,15.179017
27,Uttar Pradesh,9.987371
28,West Bengal,12.727316
29,Andaman & Nicobar Is.,74.359992
30,Chandigarh,31.740016
31,Dadra & Nagar Haveli,27.930604
32,Daman & Diu,20.144133
33,Delhi,NaN
34,Lakshadweep,1.551037
35,Puducherry,106.013608
36,Total,39.414629

In [92]:
#..Q17.. Number of ACCIDENTS for each reason per 1L people of that state.


#load the dataset
df5=pd.read_csv('reasonOfAccident.csv')



#calculate the  ACCIDENTS for each different REASON per 1L population of that state.

df5['Total_number_of_ACCIDENTS_all_Resons_per_1lakh_population'] = df5['Fault of Driver-Total No. of Road Accidents - 2014 per 1L people'] + df5['Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people']+df5['Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people']+df5['Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people']+df5['Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people']+df5['Weather Condition-Total No. of Road Accidents - 2014 per 1L people']+df5['Fault of Passenger-Total No. of Road Accidents - 2014 per 1L people']+df5['Poor light-Total No. of Road Accidents - 2014 per 1L people']+df5['Falling of boulders-Total No. of Road Accidents - 2014 per 1L people']+df5['Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people'].fillna(0)





#show result
result=df5[['States/UTs','Total_number_of_ACCIDENTS_all_Resons_per_1lakh_population']]
result

,States/UTs,Total_number_of_ACCIDENTS_all_Resons_per_1lakh_population
0,Andhra Pradesh,45.960122
1,Arunachal Pradesh,13.297421
2,Assam,22.701071
3,Bihar,8.705137
4,Chhattisgarh,52.925798
5,Goa,283.501709
6,Gujarat,38.193444
7,Haryana,40.968051
8,Himachal Pradesh,44.532808
9,Jammu & Kashmir,44.421225
10,Jharkhand,15.529827
11,Karnataka,70.534071
12,Kerala,108.609034
13,Madhya Pradesh,72.475992
14,Maharashtra,54.679746
15,Manipur,25.597084
16,Meghalaya,18.032356
17,Mizoram,12.030558
18,Nagaland,15.415703
19,Odisha,22.713943
20,Punjab,22.189111
21,Rajasthan,35.882656
22,Sikkim,33.247240
23,Tamil Nadu,93.090457
24,Telangana,61.711592
25,Tripura,19.352642
26,Uttarakhand,13.979369
27,Uttar Pradesh,14.084215
28,West Bengal,13.727578
29,Andaman & Nicobar Is.,57.280842
30,Chandigarh,34.961391
31,Dadra & Nagar Haveli,25.312110
32,Daman & Diu,16.033086
33,Delhi,NaN
34,Lakshadweep,1.551037
35,Puducherry,89.025789
36,Total,39.032750

In [156]:
#Q..18  18. Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to FAULT OF THE DRIVER per 1Lpopulation of that state.

##condition 1:number of ROAD ACCIDENTS, INJURIES, DEATHS due to FAULT OF THE DRIVER

#load dataset
df5=pd.read_csv('reasonOfAccident.csv')

#calculate the ROAD ACCIDENTS, INJURIES, DEATHS due to  FAULT OF DRIVER'S  per 1L people of that state.
df5.fillna(0,inplace=True)
df5['total_accident'] = df5['Fault of Driver-Total No. of Road Accidents - 2014 per 1L people']
df5['tota_death'] = df5['Fault of Driver-Number of Persons-Killed - 2014 per 1L people']
df5['total_injuries'] = df5['Fault of Driver-Number of Persons-Injured - 2014 per 1L people']

# show results
for index, row in df5.iterrows():
    print(f"State/UT: {row['States/UTs']}")
    print(f"total accident: {row['total_accident']:.2f}")
    print(f"total death: {row['tota_death']:.2f}")
    print(f"total injuries: {row['total_injuries']:.2f}")
    print("*" *40)

State/UT: Andhra Pradesh
total accident: 40.75
total death: 12.87
total injuries: 50.16
****************************************
State/UT: Arunachal Pradesh
total accident: 2.17
total death: 1.37
total injuries: 2.17
****************************************
State/UT: Assam
total accident: 22.10
total death: 7.78
total injuries: 20.13
****************************************
State/UT: Bihar
total accident: 4.81
total death: 2.54
total injuries: 3.24
****************************************
State/UT: Chhattisgarh
total accident: 35.65
total death: 9.62
total injuries: 34.10
****************************************
State/UT: Goa
total accident: 260.19
total death: 16.93
total injuries: 113.13
****************************************
State/UT: Gujarat
total accident: 31.35
total death: 10.98
total injuries: 30.21
****************************************
State/UT: Haryana
total accident: 32.38
total death: 12.57
total injuries: 30.11
****************************************
State/UT: Himachal Pradesh
total accident: 42.77
total death: 16.72
total injuries: 77.59
****************************************
State/UT: Jammu & Kashmir
total accident: 28.82
total death: 4.47
total injuries: 32.60
****************************************
State/UT: Jharkhand
total accident: 8.98
total death: 4.10
total injuries: 7.18
****************************************
State/UT: Karnataka
total accident: 57.96
total death: 13.93
total injuries: 74.69
****************************************
State/UT: Kerala
total accident: 108.61
total death: 12.12
total injuries: 123.02
****************************************
State/UT: Madhya Pradesh
total accident: 56.83
total death: 9.28
total injuries: 60.71
****************************************
State/UT: Maharashtra
total accident: 42.93
total death: 9.89
total injuries: 30.52
****************************************
State/UT: Manipur
total accident: 0.00
total death: 0.00
total injuries: 0.00
****************************************
State/UT: Meghalaya
total accident: 0.84
total death: 0.40
total injuries: 0.27
****************************************
State/UT: Mizoram
total accident: 10.39
total death: 8.57
total injuries: 20.23
****************************************
State/UT: Nagaland
total accident: 10.66
total death: 3.13
total injuries: 7.94
****************************************
State/UT: Odisha
total accident: 22.04
total death: 8.99
total injuries: 25.56
****************************************
State/UT: Punjab
total accident: 13.87
total death: 9.95
total injuries: 9.29
****************************************
State/UT: Rajasthan
total accident: 34.48
total death: 14.41
total injuries: 38.08
****************************************
State/UT: Sikkim
total accident: 20.14
total death: 5.24
total injuries: 29.64
****************************************
State/UT: Tamil Nadu
total accident: 89.17
total death: 19.86
total injuries: 103.51
****************************************
State/UT: Telangana
total accident: 50.67
total death: 16.61
total injuries: 44.28
****************************************
State/UT: Tripura
total accident: 15.30
total death: 4.00
total injuries: 26.43
****************************************
State/UT: Uttarakhand
total accident: 10.30
total death: 6.32
total injuries: 9.33
****************************************
State/UT: Uttar Pradesh
total accident: 3.83
total death: 2.03
total injuries: 2.80
****************************************
State/UT: West Bengal
total accident: 6.52
total death: 2.94
total injuries: 6.24
****************************************
State/UT: Andaman & Nicobar Is.
total accident: 57.28
total death: 6.04
total injuries: 74.36
****************************************
State/UT: Chandigarh
total accident: 34.96
total death: 12.41
total injuries: 31.74
****************************************
State/UT: Dadra & Nagar Haveli
total accident: 25.31
total death: 17.17
total injuries: 27.93
****************************************
State/UT: Daman & Diu
total accident: 16.03
total death: 6.17
total injuries: 20.14
****************************************
State/UT: Delhi
total accident: 0.00
total death: 5.10
total injuries: 0.00
****************************************
State/UT: Lakshadweep
total accident: 1.55
total death: 0.00
total injuries: 1.55
****************************************
State/UT: Puducherry
total accident: 89.03
total death: 12.10
total injuries: 106.01
****************************************
State/UT: Total
total accident: 31.30
total death: 8.50
total injuries: 32.48
****************************************

In [160]:
#Q..18  18. Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to FAULT OF THE DRIVER per 1Lpopulation of that state.
##condition 2:Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to FAULT OF THE DRIVER


#load the dataset
df5 = pd.read_csv('reasonOfAccident.csv')

# Fill NaN values with 0
df5.fillna(0, inplace=True)

# Calculate the total accidents, injuries, and deaths due to FAULT OF THE DRIVER
df5['Total_accident_injuries_deaths_due_to_Fault_driver'] = (
    df5['Fault of Driver-Total No. of Road Accidents - 2014 per 1L people'] +
    df5['Fault of Driver-Number of Persons-Killed - 2014 per 1L people'] +
    df5['Fault of Driver-Number of Persons-Injured - 2014 per 1L people']
)

# Show the result
result = df5[['States/UTs', 'Total_accident_injuries_deaths_due_to_Fault_driver']]
print(result)

               States/UTs  Total_accident_injuries_deaths_due_to_Fault_driver
0          Andhra Pradesh                                         103.774704
1       Arunachal Pradesh                                           5.709219
2                   Assam                                          50.007088
3                   Bihar                                          10.593716
4            Chhattisgarh                                          79.373039
5                     Goa                                         390.251929
6                 Gujarat                                          72.528497
7                 Haryana                                          75.052871
8        Himachal Pradesh                                         137.080052
9         Jammu & Kashmir                                          65.886301
10              Jharkhand                                          20.255768
11              Karnataka                                         146.577567
12                 Kerala                                         243.749181
13         Madhya Pradesh                                         126.819561
14            Maharashtra                                          83.332197
15                Manipur                                           0.000000
16              Meghalaya                                           1.516740
17                Mizoram                                          39.190453
18               Nagaland                                          21.733615
19                 Odisha                                          56.594265
20                 Punjab                                          33.114256
21              Rajasthan                                          86.976454
22                 Sikkim                                          55.029914
23             Tamil Nadu                                         212.536815
24              Telangana                                         111.558313
25                Tripura                                          45.727761
26            Uttarakhand                                          25.946106
27          Uttar Pradesh                                           8.656122
28            West Bengal                                          15.698521
29  Andaman & Nicobar Is.                                         137.684225
30             Chandigarh                                          79.113174
31   Dadra & Nagar Haveli                                          70.408398
32            Daman & Diu                                          42.343790
33                 Delhi                                            5.098898
34            Lakshadweep                                           3.102074
35             Puducherry                                         207.139211
36                 Total                                           72.280332

In [186]:
#..Q..19..Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF DRIVER'S FROM OTHER VEHICLES per 1L people of that state.

# condition1 number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF DRIVER'S FROM OTHER VEHICLES

#load the dataset
df5=pd.read_csv('reasonOfAccident.csv')

#calculate the ROAD ACCIDENTS, INJURIES, DEATHS due to  FAULT OF DRIVER'S FROM OTHER VEHICLES per 1L people of that state.
df5.fillna(0,inplace=True)
df5['total_accident_FDOV'] = df5['Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people']
df5['tota_death_FDOV'] = df5['Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people']
df5['total_injuries_FDOV'] = df5['Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people']

# show results
for index, row in df5.iterrows():
    print(f"State/UT: {row['States/UTs']}")
    print(f"total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: {row['total_accident_FDOV']:.2f}")
    print(f"total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: {row['tota_death_FDOV']:.2f}")
    print(f"total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: {row['total_injuries_FDOV']:.2f}")
    print("*" * 50)

State/UT: Andhra Pradesh
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.55
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.14
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.81
**************************************************
State/UT: Arunachal Pradesh
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.45
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.01
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 3.25
**************************************************
State/UT: Assam
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.01
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Bihar
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.58
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.24
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.38
**************************************************
State/UT: Chhattisgarh
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 2.84
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.99
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 2.60
**************************************************
State/UT: Goa
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Gujarat
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.74
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.28
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.85
**************************************************
State/UT: Haryana
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.80
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.83
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.80
**************************************************
State/UT: Himachal Pradesh
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.32
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.04
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.44
**************************************************
State/UT: Jammu & Kashmir
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 3.03
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.49
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 7.47
**************************************************
State/UT: Jharkhand
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.09
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.63
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.68
**************************************************
State/UT: Karnataka
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 5.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.06
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 7.35
**************************************************
State/UT: Kerala
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Madhya Pradesh
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 3.05
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.48
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 3.08
**************************************************
State/UT: Maharashtra
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 6.47
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.47
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.95
**************************************************
State/UT: Manipur
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Meghalaya
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.35
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.51
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.57
**************************************************
State/UT: Mizoram
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.64
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.82
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.09
**************************************************
State/UT: Nagaland
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 3.69
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.66
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 2.58
**************************************************
State/UT: Odisha
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.13
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.04
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.15
**************************************************
State/UT: Punjab
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.06
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.70
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.72
**************************************************
State/UT: Rajasthan
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Sikkim
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 2.46
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.80
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 3.77
**************************************************
State/UT: Tamil Nadu
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.16
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.05
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.12
**************************************************
State/UT: Telangana
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.06
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.02
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.12
**************************************************
State/UT: Tripura
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.63
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.19
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.39
**************************************************
State/UT: Uttarakhand
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.45
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.80
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.33
**************************************************
State/UT: Uttar Pradesh
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.37
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.75
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.94
**************************************************
State/UT: West Bengal
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.64
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.67
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.35
**************************************************
State/UT: Andaman & Nicobar Is.
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Chandigarh
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Dadra & Nagar Haveli
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Daman & Diu
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Delhi
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.08
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Lakshadweep
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Puducherry
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.00
**************************************************
State/UT: Total
total accident of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.72
total death of FAULT OF DRIVER'S FROM OTHER VEHICLES: 0.44
total injuries of FAULT OF DRIVER'S FROM OTHER VEHICLES: 1.33
**************************************************

In [162]:
#Q .19 Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF DRIVER'S FROM OTHER VEHICLES per 1L people of that state.

# condition2: Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF DRIVER'S FROM OTHER VEHICLES

#load the dataset
df5 = pd.read_csv('reasonOfAccident.csv')

# Fill NaN values with 0
df5.fillna(0, inplace=True)

# Calculate the total accidents, injuries, and deaths due to FAULT OF DRIVER'S FROM OTHER VEHICLES
df5['Total_accident_injuries_deaths_due_to_Fault_driver_from_other_vehicle'] = (
    df5['Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people'] +
    df5['Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people'] +
    df5['Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people']
)

# Show the result
result = df5[['States/UTs', 'Total_accident_injuries_deaths_due_to_Fault_driver_from_other_vehicle']]
print(result)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Total_accident_injuries_deaths_due_to_Fault_driver_from_other_vehicle
0                                            1.503511
1                                            5.709219
2                                            0.012818
3                                            1.207499
4                                            6.435652
5                                            0.000000
6                                            1.879560
7                                            3.423866
8                                            0.801212
9                                           10.995669
10                                           2.400863
11                                          13.406924
12                                           0.000000
13                                           6.610507
14                                           8.887261
15                                           0.000000
16                                           2.426784
17                                           3.554483
18                                           6.924431
19                                           0.316861
20                                           2.476270
21                                           0.000000
22                                           8.025196
23                                           0.324338
24                                           0.198420
25                                           2.204731
26                                           3.579115
27                                           3.065376
28                                           3.662513
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.077437
34                                           0.000000
35                                           0.000000
36                                           3.494968

In [140]:
#Q20.Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF PEDESTRIANS per 1L people of that state

#condition 1 number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF PEDESTRIANS

#load the dataset
df5=pd.read_csv('reasonOfAccident.csv')

#calculate the ROAD ACCIDENTS, INJURIES, DEATHS due to  FAULT OF PEDESTRIANS per 1L people of that state
df5.fillna(0,inplace=True)
df5['total_accident_FOP'] = df5['Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people']
df5['tota_death_FOP'] = df5['Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people']
df5['total_injuries_FOP'] = df5['Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people']

# show results
for index, row in df5.iterrows():
    print(f"State/UT: {row['States/UTs']}")
    print(f"total accident of FAULT OF PEDESTRIANS: {row['total_accident_FOP']:.2f}")
    print(f"total death of FAULT OF PEDESTRIANS: {row['total_accident_FOP']:.2f}")
    print(f"total injuries of FAULT OF PEDESTRIANS: {row['total_accident_FOP']:.2f}")
    print("*" * 50)

State/UT: Andhra Pradesh
total accident of FAULT OF PEDESTRIANS: 0.45
total death of FAULT OF PEDESTRIANS: 0.45
total injuries of FAULT OF PEDESTRIANS: 0.45
**************************************************
State/UT: Arunachal Pradesh
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Assam
total accident of FAULT OF PEDESTRIANS: 0.46
total death of FAULT OF PEDESTRIANS: 0.46
total injuries of FAULT OF PEDESTRIANS: 0.46
**************************************************
State/UT: Bihar
total accident of FAULT OF PEDESTRIANS: 0.27
total death of FAULT OF PEDESTRIANS: 0.27
total injuries of FAULT OF PEDESTRIANS: 0.27
**************************************************
State/UT: Chhattisgarh
total accident of FAULT OF PEDESTRIANS: 0.57
total death of FAULT OF PEDESTRIANS: 0.57
total injuries of FAULT OF PEDESTRIANS: 0.57
**************************************************
State/UT: Goa
total accident of FAULT OF PEDESTRIANS: 12.00
total death of FAULT OF PEDESTRIANS: 12.00
total injuries of FAULT OF PEDESTRIANS: 12.00
**************************************************
State/UT: Gujarat
total accident of FAULT OF PEDESTRIANS: 2.50
total death of FAULT OF PEDESTRIANS: 2.50
total injuries of FAULT OF PEDESTRIANS: 2.50
**************************************************
State/UT: Haryana
total accident of FAULT OF PEDESTRIANS: 1.37
total death of FAULT OF PEDESTRIANS: 1.37
total injuries of FAULT OF PEDESTRIANS: 1.37
**************************************************
State/UT: Himachal Pradesh
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Jammu & Kashmir
total accident of FAULT OF PEDESTRIANS: 1.78
total death of FAULT OF PEDESTRIANS: 1.78
total injuries of FAULT OF PEDESTRIANS: 1.78
**************************************************
State/UT: Jharkhand
total accident of FAULT OF PEDESTRIANS: 0.92
total death of FAULT OF PEDESTRIANS: 0.92
total injuries of FAULT OF PEDESTRIANS: 0.92
**************************************************
State/UT: Karnataka
total accident of FAULT OF PEDESTRIANS: 0.55
total death of FAULT OF PEDESTRIANS: 0.55
total injuries of FAULT OF PEDESTRIANS: 0.55
**************************************************
State/UT: Kerala
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Madhya Pradesh
total accident of FAULT OF PEDESTRIANS: 0.21
total death of FAULT OF PEDESTRIANS: 0.21
total injuries of FAULT OF PEDESTRIANS: 0.21
**************************************************
State/UT: Maharashtra
total accident of FAULT OF PEDESTRIANS: 0.30
total death of FAULT OF PEDESTRIANS: 0.30
total injuries of FAULT OF PEDESTRIANS: 0.30
**************************************************
State/UT: Manipur
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Meghalaya
total accident of FAULT OF PEDESTRIANS: 1.01
total death of FAULT OF PEDESTRIANS: 1.01
total injuries of FAULT OF PEDESTRIANS: 1.01
**************************************************
State/UT: Mizoram
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Nagaland
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Odisha
total accident of FAULT OF PEDESTRIANS: 0.21
total death of FAULT OF PEDESTRIANS: 0.21
total injuries of FAULT OF PEDESTRIANS: 0.21
**************************************************
State/UT: Punjab
total accident of FAULT OF PEDESTRIANS: 0.44
total death of FAULT OF PEDESTRIANS: 0.44
total injuries of FAULT OF PEDESTRIANS: 0.44
**************************************************
State/UT: Rajasthan
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Sikkim
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Tamil Nadu
total accident of FAULT OF PEDESTRIANS: 1.31
total death of FAULT OF PEDESTRIANS: 1.31
total injuries of FAULT OF PEDESTRIANS: 1.31
**************************************************
State/UT: Telangana
total accident of FAULT OF PEDESTRIANS: 1.45
total death of FAULT OF PEDESTRIANS: 1.45
total injuries of FAULT OF PEDESTRIANS: 1.45
**************************************************
State/UT: Tripura
total accident of FAULT OF PEDESTRIANS: 0.68
total death of FAULT OF PEDESTRIANS: 0.68
total injuries of FAULT OF PEDESTRIANS: 0.68
**************************************************
State/UT: Uttarakhand
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Uttar Pradesh
total accident of FAULT OF PEDESTRIANS: 0.49
total death of FAULT OF PEDESTRIANS: 0.49
total injuries of FAULT OF PEDESTRIANS: 0.49
**************************************************
State/UT: West Bengal
total accident of FAULT OF PEDESTRIANS: 0.38
total death of FAULT OF PEDESTRIANS: 0.38
total injuries of FAULT OF PEDESTRIANS: 0.38
**************************************************
State/UT: Andaman & Nicobar Is.
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Chandigarh
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Dadra & Nagar Haveli
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Daman & Diu
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Delhi
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Lakshadweep
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Puducherry
total accident of FAULT OF PEDESTRIANS: 0.00
total death of FAULT OF PEDESTRIANS: 0.00
total injuries of FAULT OF PEDESTRIANS: 0.00
**************************************************
State/UT: Total
total accident of FAULT OF PEDESTRIANS: 0.59
total death of FAULT OF PEDESTRIANS: 0.59
total injuries of FAULT OF PEDESTRIANS: 0.59
**************************************************

In [164]:
#Q20.Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF PEDESTRIANS per 1L people of that state

#condition 2: Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the FAULT OF PEDESTRIANS


#load the dataset
df5 = pd.read_csv('reasonOfAccident.csv')

# Fill NaN values with 0
df5.fillna(0, inplace=True)

# Calculate the total accidents, injuries, and deaths due to the FAULT OF PEDESTRIANS
df5['Total_accident_injuries_deaths_due_to_Fault_of_pedestrians'] = (
    df5['Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people'] +
    df5['Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people'] +
    df5['Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people']
)

# Show the result
result = df5[['States/UTs', 'Total_accident_injuries_deaths_due_to_Fault_of_pedestrians']]
print(result)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Total_accident_injuries_deaths_due_to_Fault_of_pedestrians
0                                            0.950189
1                                            0.000000
2                                            1.044685
3                                            0.636891
4                                            1.276169
5                                           19.882828
6                                            5.340861
7                                            2.686236
8                                            0.000000
9                                            3.117699
10                                           2.243231
11                                           2.093451
12                                           0.000000
13                                           0.359371
14                                           0.634487
15                                           0.000000
16                                           1.988615
17                                           0.000000
18                                           0.000000
19                                           0.509837
20                                           0.929953
21                                           0.000000
22                                           0.000000
23                                           2.826173
24                                           2.991795
25                                           1.687572
26                                           0.000000
27                                           1.106538
28                                           0.956439
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           1.327740

In [144]:
#Q.21...Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the DEFECTS IN THE VEHICLE per 1L people of that state

#Condtion 1:number of ROAD ACCIDENTS, INJURIES, DEATHS due to the DEFECTS IN THE VEHICLE per 1L people of that state

#load the dataset
df5=pd.read_csv('reasonOfAccident.csv')

#calculate the ROAD ACCIDENTS, INJURIES, DEATHS due to  DEFECTS IN THE VEHICLE per 1L people of that state
df5.fillna(0,inplace=True)
df5['total_accident_DIT'] = df5['Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people']
df5['tota_death_DIT'] = df5['Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people']
df5['total_injuries_DIT'] = df5['Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people']

# show results
for index, row in df5.iterrows():
    print(f"State/UT: {row['States/UTs']}")
    print(f"total accident of DEFECTS IN THE VEHICLE: {row['total_accident_DIT']:.2f}")
    print(f"total death of DEFECTS IN THE VEHICLE: {row['tota_death_DIT']:.2f}")
    print(f"total injuries of DEFECTS IN THE VEHICLE: {row['total_injuries_DIT']:.2f}")
    print("*" * 50)

State/UT: Andhra Pradesh
total accident of DEFECTS IN THE VEHICLE: 0.13
total death of DEFECTS IN THE VEHICLE: 0.05
total injuries of DEFECTS IN THE VEHICLE: 0.16
**************************************************
State/UT: Arunachal Pradesh
total accident of DEFECTS IN THE VEHICLE: 1.23
total death of DEFECTS IN THE VEHICLE: 0.58
total injuries of DEFECTS IN THE VEHICLE: 1.59
**************************************************
State/UT: Assam
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Bihar
total accident of DEFECTS IN THE VEHICLE: 0.52
total death of DEFECTS IN THE VEHICLE: 0.29
total injuries of DEFECTS IN THE VEHICLE: 0.34
**************************************************
State/UT: Chhattisgarh
total accident of DEFECTS IN THE VEHICLE: 2.63
total death of DEFECTS IN THE VEHICLE: 0.90
total injuries of DEFECTS IN THE VEHICLE: 1.91
**************************************************
State/UT: Goa
total accident of DEFECTS IN THE VEHICLE: 1.17
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.89
**************************************************
State/UT: Gujarat
total accident of DEFECTS IN THE VEHICLE: 0.27
total death of DEFECTS IN THE VEHICLE: 0.10
total injuries of DEFECTS IN THE VEHICLE: 0.27
**************************************************
State/UT: Haryana
total accident of DEFECTS IN THE VEHICLE: 0.65
total death of DEFECTS IN THE VEHICLE: 0.42
total injuries of DEFECTS IN THE VEHICLE: 0.38
**************************************************
State/UT: Himachal Pradesh
total accident of DEFECTS IN THE VEHICLE: 1.08
total death of DEFECTS IN THE VEHICLE: 0.54
total injuries of DEFECTS IN THE VEHICLE: 2.27
**************************************************
State/UT: Jammu & Kashmir
total accident of DEFECTS IN THE VEHICLE: 2.72
total death of DEFECTS IN THE VEHICLE: 0.30
total injuries of DEFECTS IN THE VEHICLE: 1.54
**************************************************
State/UT: Jharkhand
total accident of DEFECTS IN THE VEHICLE: 0.86
total death of DEFECTS IN THE VEHICLE: 0.47
total injuries of DEFECTS IN THE VEHICLE: 0.67
**************************************************
State/UT: Karnataka
total accident of DEFECTS IN THE VEHICLE: 1.02
total death of DEFECTS IN THE VEHICLE: 0.18
total injuries of DEFECTS IN THE VEHICLE: 1.33
**************************************************
State/UT: Kerala
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Madhya Pradesh
total accident of DEFECTS IN THE VEHICLE: 2.29
total death of DEFECTS IN THE VEHICLE: 0.51
total injuries of DEFECTS IN THE VEHICLE: 2.33
**************************************************
State/UT: Maharashtra
total accident of DEFECTS IN THE VEHICLE: 0.44
total death of DEFECTS IN THE VEHICLE: 0.09
total injuries of DEFECTS IN THE VEHICLE: 0.40
**************************************************
State/UT: Manipur
total accident of DEFECTS IN THE VEHICLE: 4.62
total death of DEFECTS IN THE VEHICLE: 0.95
total injuries of DEFECTS IN THE VEHICLE: 7.74
**************************************************
State/UT: Meghalaya
total accident of DEFECTS IN THE VEHICLE: 2.53
total death of DEFECTS IN THE VEHICLE: 0.74
total injuries of DEFECTS IN THE VEHICLE: 1.38
**************************************************
State/UT: Mizoram
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Nagaland
total accident of DEFECTS IN THE VEHICLE: 1.06
total death of DEFECTS IN THE VEHICLE: 0.30
total injuries of DEFECTS IN THE VEHICLE: 1.11
**************************************************
State/UT: Odisha
total accident of DEFECTS IN THE VEHICLE: 0.07
total death of DEFECTS IN THE VEHICLE: 0.02
total injuries of DEFECTS IN THE VEHICLE: 0.08
**************************************************
State/UT: Punjab
total accident of DEFECTS IN THE VEHICLE: 0.61
total death of DEFECTS IN THE VEHICLE: 0.39
total injuries of DEFECTS IN THE VEHICLE: 0.31
**************************************************
State/UT: Rajasthan
total accident of DEFECTS IN THE VEHICLE: 0.11
total death of DEFECTS IN THE VEHICLE: 0.05
total injuries of DEFECTS IN THE VEHICLE: 0.11
**************************************************
State/UT: Sikkim
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Tamil Nadu
total accident of DEFECTS IN THE VEHICLE: 0.72
total death of DEFECTS IN THE VEHICLE: 0.27
total injuries of DEFECTS IN THE VEHICLE: 0.71
**************************************************
State/UT: Telangana
total accident of DEFECTS IN THE VEHICLE: 1.08
total death of DEFECTS IN THE VEHICLE: 0.43
total injuries of DEFECTS IN THE VEHICLE: 1.99
**************************************************
State/UT: Tripura
total accident of DEFECTS IN THE VEHICLE: 0.54
total death of DEFECTS IN THE VEHICLE: 0.11
total injuries of DEFECTS IN THE VEHICLE: 0.87
**************************************************
State/UT: Uttarakhand
total accident of DEFECTS IN THE VEHICLE: 0.35
total death of DEFECTS IN THE VEHICLE: 0.16
total injuries of DEFECTS IN THE VEHICLE: 0.18
**************************************************
State/UT: Uttar Pradesh
total accident of DEFECTS IN THE VEHICLE: 1.03
total death of DEFECTS IN THE VEHICLE: 0.54
total injuries of DEFECTS IN THE VEHICLE: 0.74
**************************************************
State/UT: West Bengal
total accident of DEFECTS IN THE VEHICLE: 0.65
total death of DEFECTS IN THE VEHICLE: 0.38
total injuries of DEFECTS IN THE VEHICLE: 0.59
**************************************************
State/UT: Andaman & Nicobar Is.
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Chandigarh
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Dadra & Nagar Haveli
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Daman & Diu
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Delhi
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.04
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Lakshadweep
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Puducherry
total accident of DEFECTS IN THE VEHICLE: 0.00
total death of DEFECTS IN THE VEHICLE: 0.00
total injuries of DEFECTS IN THE VEHICLE: 0.00
**************************************************
State/UT: Total
total accident of DEFECTS IN THE VEHICLE: 0.76
total death of DEFECTS IN THE VEHICLE: 0.29
total injuries of DEFECTS IN THE VEHICLE: 0.70
**************************************************

In [166]:
#Q.21...Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the DEFECTS IN THE VEHICLE per 1L people of that state

#Condtion 2:total number of ROAD ACCIDENTS, INJURIES, DEATHS due to the DEFECTS IN THE VEHICLE per 1L people of that state


#load the dataset
df5 = pd.read_csv('reasonOfAccident.csv')

# Fill NaN values with 0
df5.fillna(0, inplace=True)

# Calculate the total accidents, injuries, and deaths due to the DEFECTS IN THE VEHICLE
df5['Total_accident_injuries_deaths_due_to_Defect_in_vehicle'] = (
    df5['Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people'] +
    df5['Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people'] +
    df5['Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people']
)

# Show the result
result = df5[['States/UTs', 'Total_accident_injuries_deaths_due_to_Defect_in_vehicle']]
print(result)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Total_accident_injuries_deaths_due_to_Defect_in_vehicle
0                                            0.339626
1                                            3.396624
2                                            0.000000
3                                            1.150823
4                                            5.441336
5                                            2.056844
6                                            0.636999
7                                            1.451593
8                                            3.889519
9                                            4.560930
10                                           2.003751
11                                           2.535383
12                                           0.000000
13                                           5.127583
14                                           0.934377
15                                          13.306282
16                                           4.651337
17                                           0.000000
18                                           2.476621
19                                           0.171534
20                                           1.301213
21                                           0.271341
22                                           0.000000
23                                           1.703466
24                                           3.497145
25                                           1.524259
26                                           0.684097
27                                           2.312670
28                                           1.620358
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.041697
34                                           0.000000
35                                           0.000000
36                                           1.750333

In [146]:
#Q..22..Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to DEFECTS IN THE ROAD CONDITION per 1L people of that state.

#condition 1:number of ROAD ACCIDENTS, INJURIES, DEATHS due to DEFECTS IN THE ROAD CONDITION per 1L people of that state.


#load the dataset
df5=pd.read_csv('reasonOfAccident.csv')

#calculate the ROAD ACCIDENTS, INJURIES, DEATHS due to  DEFECTS IN THE ROAD CONDITION per 1L people of that state
df5.fillna(0,inplace=True)
df5['total_accident_DIRC'] = df5['Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people']
df5['tota_death_DIRC'] = df5['Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people']
df5['total_injuries_DIRC'] = df5['Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people']

# show results
for index, row in df5.iterrows():
    print(f"State/UT: {row['States/UTs']}")
    print(f"total accident of DEFECTS IN THE ROAD CONDITION: {row['total_accident_DIRC']:.2f}")
    print(f"total death of DEFECTS IN THE ROAD CONDITION: {row['tota_death_DIRC']:.2f}")
    print(f"total injuries of DEFECTS IN THE ROAD CONDITION: {row['total_injuries_DIRC']:.2f}")
    print("*" * 50)

State/UT: Andhra Pradesh
total accident of DEFECTS IN THE ROAD CONDITION: 0.54
total death of DEFECTS IN THE ROAD CONDITION: 0.37
total injuries of DEFECTS IN THE ROAD CONDITION: 0.84
**************************************************
State/UT: Arunachal Pradesh
total accident of DEFECTS IN THE ROAD CONDITION: 1.08
total death of DEFECTS IN THE ROAD CONDITION: 0.65
total injuries of DEFECTS IN THE ROAD CONDITION: 2.10
**************************************************
State/UT: Assam
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Bihar
total accident of DEFECTS IN THE ROAD CONDITION: 0.43
total death of DEFECTS IN THE ROAD CONDITION: 0.24
total injuries of DEFECTS IN THE ROAD CONDITION: 0.27
**************************************************
State/UT: Chhattisgarh
total accident of DEFECTS IN THE ROAD CONDITION: 1.72
total death of DEFECTS IN THE ROAD CONDITION: 0.56
total injuries of DEFECTS IN THE ROAD CONDITION: 1.49
**************************************************
State/UT: Goa
total accident of DEFECTS IN THE ROAD CONDITION: 0.07
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Gujarat
total accident of DEFECTS IN THE ROAD CONDITION: 0.34
total death of DEFECTS IN THE ROAD CONDITION: 0.05
total injuries of DEFECTS IN THE ROAD CONDITION: 0.18
**************************************************
State/UT: Haryana
total accident of DEFECTS IN THE ROAD CONDITION: 0.56
total death of DEFECTS IN THE ROAD CONDITION: 0.29
total injuries of DEFECTS IN THE ROAD CONDITION: 0.22
**************************************************
State/UT: Himachal Pradesh
total accident of DEFECTS IN THE ROAD CONDITION: 0.36
total death of DEFECTS IN THE ROAD CONDITION: 0.16
total injuries of DEFECTS IN THE ROAD CONDITION: 0.92
**************************************************
State/UT: Jammu & Kashmir
total accident of DEFECTS IN THE ROAD CONDITION: 0.90
total death of DEFECTS IN THE ROAD CONDITION: 0.09
total injuries of DEFECTS IN THE ROAD CONDITION: 1.02
**************************************************
State/UT: Jharkhand
total accident of DEFECTS IN THE ROAD CONDITION: 0.68
total death of DEFECTS IN THE ROAD CONDITION: 0.42
total injuries of DEFECTS IN THE ROAD CONDITION: 0.70
**************************************************
State/UT: Karnataka
total accident of DEFECTS IN THE ROAD CONDITION: 0.29
total death of DEFECTS IN THE ROAD CONDITION: 0.07
total injuries of DEFECTS IN THE ROAD CONDITION: 0.30
**************************************************
State/UT: Kerala
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Madhya Pradesh
total accident of DEFECTS IN THE ROAD CONDITION: 1.99
total death of DEFECTS IN THE ROAD CONDITION: 0.31
total injuries of DEFECTS IN THE ROAD CONDITION: 1.84
**************************************************
State/UT: Maharashtra
total accident of DEFECTS IN THE ROAD CONDITION: 0.34
total death of DEFECTS IN THE ROAD CONDITION: 0.07
total injuries of DEFECTS IN THE ROAD CONDITION: 0.29
**************************************************
State/UT: Manipur
total accident of DEFECTS IN THE ROAD CONDITION: 2.84
total death of DEFECTS IN THE ROAD CONDITION: 0.35
total injuries of DEFECTS IN THE ROAD CONDITION: 4.48
**************************************************
State/UT: Meghalaya
total accident of DEFECTS IN THE ROAD CONDITION: 1.01
total death of DEFECTS IN THE ROAD CONDITION: 0.40
total injuries of DEFECTS IN THE ROAD CONDITION: 0.44
**************************************************
State/UT: Mizoram
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Nagaland
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Odisha
total accident of DEFECTS IN THE ROAD CONDITION: 0.06
total death of DEFECTS IN THE ROAD CONDITION: 0.02
total injuries of DEFECTS IN THE ROAD CONDITION: 0.05
**************************************************
State/UT: Punjab
total accident of DEFECTS IN THE ROAD CONDITION: 0.68
total death of DEFECTS IN THE ROAD CONDITION: 0.46
total injuries of DEFECTS IN THE ROAD CONDITION: 0.62
**************************************************
State/UT: Rajasthan
total accident of DEFECTS IN THE ROAD CONDITION: 0.25
total death of DEFECTS IN THE ROAD CONDITION: 0.10
total injuries of DEFECTS IN THE ROAD CONDITION: 0.30
**************************************************
State/UT: Sikkim
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Tamil Nadu
total accident of DEFECTS IN THE ROAD CONDITION: 0.16
total death of DEFECTS IN THE ROAD CONDITION: 0.04
total injuries of DEFECTS IN THE ROAD CONDITION: 0.23
**************************************************
State/UT: Telangana
total accident of DEFECTS IN THE ROAD CONDITION: 1.53
total death of DEFECTS IN THE ROAD CONDITION: 0.60
total injuries of DEFECTS IN THE ROAD CONDITION: 3.80
**************************************************
State/UT: Tripura
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Uttarakhand
total accident of DEFECTS IN THE ROAD CONDITION: 0.01
total death of DEFECTS IN THE ROAD CONDITION: 0.01
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Uttar Pradesh
total accident of DEFECTS IN THE ROAD CONDITION: 1.36
total death of DEFECTS IN THE ROAD CONDITION: 0.73
total injuries of DEFECTS IN THE ROAD CONDITION: 0.79
**************************************************
State/UT: West Bengal
total accident of DEFECTS IN THE ROAD CONDITION: 0.69
total death of DEFECTS IN THE ROAD CONDITION: 0.37
total injuries of DEFECTS IN THE ROAD CONDITION: 0.46
**************************************************
State/UT: Andaman & Nicobar Is.
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Chandigarh
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Dadra & Nagar Haveli
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Daman & Diu
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Delhi
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Lakshadweep
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Puducherry
total accident of DEFECTS IN THE ROAD CONDITION: 0.00
total death of DEFECTS IN THE ROAD CONDITION: 0.00
total injuries of DEFECTS IN THE ROAD CONDITION: 0.00
**************************************************
State/UT: Total
total accident of DEFECTS IN THE ROAD CONDITION: 0.69
total death of DEFECTS IN THE ROAD CONDITION: 0.29
total injuries of DEFECTS IN THE ROAD CONDITION: 0.62
**************************************************

In [168]:
#Q..22..Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to DEFECTS IN THE ROAD CONDITION per 1L people of that state.

#condition 2: total number of ROAD ACCIDENTS, INJURIES, DEATHS due to DEFECTS IN THE ROAD CONDITION per 1L people of that state.

#load the dataset
df5 = pd.read_csv('reasonOfAccident.csv')

# Fill NaN values with 0
df5.fillna(0, inplace=True)

# Calculate the total accidents, injuries, and deaths due to DEFECTS IN THE ROAD CONDITION
df5['Total_accident_injuries_deaths_due_to_defect_in_road_condition'] = (
    df5['Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people'] +
    df5['Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people'] +
    df5['Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people']
)

# Show the result
result = df5[['States/UTs', 'Total_accident_injuries_deaths_due_to_defect_in_road_condition']]
print(result)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Total_accident_injuries_deaths_due_to_defect_in_road_condition
0                                            1.753460
1                                            3.830235
2                                            0.000000
3                                            0.941407
4                                            3.769789
5                                            0.068561
6                                            0.565853
7                                            1.068972
8                                            1.442181
9                                            2.009361
10                                           1.791553
11                                           0.661262
12                                           0.000000
13                                           4.141721
14                                           0.697668
15                                           7.668620
16                                           1.853794
17                                           0.000000
18                                           0.000000
19                                           0.138180
20                                           1.773399
21                                           0.649176
22                                           0.000000
23                                           0.429678
24                                           5.930885
25                                           0.000000
26                                           0.019829
27                                           2.888710
28                                           1.514087
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           1.595154

In [148]:
#Q.23..Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to WEATHER CONDITION per 1L people of that state
###condition 1:

#load the dataset
df5=pd.read_csv('reasonOfAccident.csv')

#calculate the ROAD ACCIDENTS, INJURIES, DEATHS due to   WEATHER CONDITION  per 1L people of that state
df5.fillna(0,inplace=True)
df5['total_accident_WC'] = df5['Weather Condition-Total No. of Road Accidents - 2014 per 1L people']
df5['tota_death_WC'] = df5['Weather Condition-Number of Persons-Killed - 2014 per 1L people']
df5['total_injuries_WC'] = df5['Weather Condition-Number of Persons-Injured - 2014 per 1L people']

# show results
for index, row in df5.iterrows():
    print(f"State/UT: {row['States/UTs']}")
    print(f"total accident of WEATHER CONDITION: {row['total_accident_WC']:.2f}")
    print(f"total death of WEATHER CONDITION: {row['total_accident_WC']:.2f}")
    print(f"total injuries of WEATHER CONDITION: {row['total_accident_WC']:.2f}")
    print("*" * 50)

State/UT: Andhra Pradesh
total accident of WEATHER CONDITION: 0.11
total death of WEATHER CONDITION: 0.11
total injuries of WEATHER CONDITION: 0.11
**************************************************
State/UT: Arunachal Pradesh
total accident of WEATHER CONDITION: 1.66
total death of WEATHER CONDITION: 1.66
total injuries of WEATHER CONDITION: 1.66
**************************************************
State/UT: Assam
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Bihar
total accident of WEATHER CONDITION: 0.39
total death of WEATHER CONDITION: 0.39
total injuries of WEATHER CONDITION: 0.39
**************************************************
State/UT: Chhattisgarh
total accident of WEATHER CONDITION: 0.83
total death of WEATHER CONDITION: 0.83
total injuries of WEATHER CONDITION: 0.83
**************************************************
State/UT: Goa
total accident of WEATHER CONDITION: 0.07
total death of WEATHER CONDITION: 0.07
total injuries of WEATHER CONDITION: 0.07
**************************************************
State/UT: Gujarat
total accident of WEATHER CONDITION: 0.32
total death of WEATHER CONDITION: 0.32
total injuries of WEATHER CONDITION: 0.32
**************************************************
State/UT: Haryana
total accident of WEATHER CONDITION: 0.50
total death of WEATHER CONDITION: 0.50
total injuries of WEATHER CONDITION: 0.50
**************************************************
State/UT: Himachal Pradesh
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Jammu & Kashmir
total accident of WEATHER CONDITION: 0.16
total death of WEATHER CONDITION: 0.16
total injuries of WEATHER CONDITION: 0.16
**************************************************
State/UT: Jharkhand
total accident of WEATHER CONDITION: 0.62
total death of WEATHER CONDITION: 0.62
total injuries of WEATHER CONDITION: 0.62
**************************************************
State/UT: Karnataka
total accident of WEATHER CONDITION: 1.11
total death of WEATHER CONDITION: 1.11
total injuries of WEATHER CONDITION: 1.11
**************************************************
State/UT: Kerala
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Madhya Pradesh
total accident of WEATHER CONDITION: 0.74
total death of WEATHER CONDITION: 0.74
total injuries of WEATHER CONDITION: 0.74
**************************************************
State/UT: Maharashtra
total accident of WEATHER CONDITION: 0.09
total death of WEATHER CONDITION: 0.09
total injuries of WEATHER CONDITION: 0.09
**************************************************
State/UT: Manipur
total accident of WEATHER CONDITION: 3.85
total death of WEATHER CONDITION: 3.85
total injuries of WEATHER CONDITION: 3.85
**************************************************
State/UT: Meghalaya
total accident of WEATHER CONDITION: 0.94
total death of WEATHER CONDITION: 0.94
total injuries of WEATHER CONDITION: 0.94
**************************************************
State/UT: Mizoram
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Nagaland
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Odisha
total accident of WEATHER CONDITION: 0.03
total death of WEATHER CONDITION: 0.03
total injuries of WEATHER CONDITION: 0.03
**************************************************
State/UT: Punjab
total accident of WEATHER CONDITION: 1.12
total death of WEATHER CONDITION: 1.12
total injuries of WEATHER CONDITION: 1.12
**************************************************
State/UT: Rajasthan
total accident of WEATHER CONDITION: 0.03
total death of WEATHER CONDITION: 0.03
total injuries of WEATHER CONDITION: 0.03
**************************************************
State/UT: Sikkim
total accident of WEATHER CONDITION: 1.64
total death of WEATHER CONDITION: 1.64
total injuries of WEATHER CONDITION: 1.64
**************************************************
State/UT: Tamil Nadu
total accident of WEATHER CONDITION: 0.05
total death of WEATHER CONDITION: 0.05
total injuries of WEATHER CONDITION: 0.05
**************************************************
State/UT: Telangana
total accident of WEATHER CONDITION: 1.05
total death of WEATHER CONDITION: 1.05
total injuries of WEATHER CONDITION: 1.05
**************************************************
State/UT: Tripura
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Uttarakhand
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Uttar Pradesh
total accident of WEATHER CONDITION: 0.79
total death of WEATHER CONDITION: 0.79
total injuries of WEATHER CONDITION: 0.79
**************************************************
State/UT: West Bengal
total accident of WEATHER CONDITION: 1.03
total death of WEATHER CONDITION: 1.03
total injuries of WEATHER CONDITION: 1.03
**************************************************
State/UT: Andaman & Nicobar Is.
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Chandigarh
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Dadra & Nagar Haveli
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Daman & Diu
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Delhi
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Lakshadweep
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Puducherry
total accident of WEATHER CONDITION: 0.00
total death of WEATHER CONDITION: 0.00
total injuries of WEATHER CONDITION: 0.00
**************************************************
State/UT: Total
total accident of WEATHER CONDITION: 0.49
total death of WEATHER CONDITION: 0.49
total injuries of WEATHER CONDITION: 0.49
**************************************************

In [154]:
#Q.23..Total number of ROAD ACCIDENTS, INJURIES, DEATHS due to WEATHER CONDITION per 1L people of that state
###condition 2:


#load the dataset
df5 = pd.read_csv('reasonOfAccident.csv')

# Fill NaN values with 0
df5.fillna(0, inplace=True)

# Calculate the total accidents, injuries, and deaths due to weather conditions
df5['Total_accident_injuries_deaths_due_to_weather_condition'] = (
    df5['Weather Condition-Total No. of Road Accidents - 2014 per 1L people'] +
    df5['Weather Condition-Number of Persons-Killed - 2014 per 1L people'] +
    df5['Weather Condition-Number of Persons-Injured - 2014 per 1L people']
)

# Show the result
result = df5[['States/UTs', 'Total_accident_injuries_deaths_due_to_weather_condition']]
print(result)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Total_accident_injuries_deaths_due_to_weather_condition
0                                            0.284293
1                                            4.408384
2                                            0.000000
3                                            0.888573
4                                            1.871193
5                                            0.068561
6                                            0.790871
7                                            1.065027
8                                            0.000000
9                                            0.462472
10                                           1.597544
11                                           1.944503
12                                           0.000000
13                                           1.473285
14                                           0.209122
15                                           8.824166
16                                           1.718972
17                                           0.000000
18                                           0.000000
19                                           0.073855
20                                           2.555568
21                                           0.087529
22                                           4.585826
23                                           0.145536
24                                           4.467541
25                                           0.000000
26                                           0.000000
27                                           1.804193
28                                           2.486959
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           1.155547

In [170]:
#.Q.24 Number of Total Accidents for each vehicle type per 1L people of that state.

#Load the Dataset
df6=pd.read_csv('typeOfVehicle.csv')

# Number of Total Accidents for each vehicle type per 1L people of that state.
df6['Two_wheeler_total_accident']=df6['Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people']
df6['Auto_rickshaws_total_accident']=df6['Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people']
df6['car_jeep_taxi_total_accident']=df6['Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people']
df6['Bus_total_accident']=df6['Buses - Number of Road Accidents - Total - 2014 per 1L people']
df6['Truck_tempo_total_accident']=df6['Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people']
df6['Other_motar_vehicle_total_accident']=df6['Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people']

#display the result

result=df6[['States/UTs','Two_wheeler_total_accident','Auto_rickshaws_total_accident','car_jeep_taxi_total_accident','Bus_total_accident','Truck_tempo_total_accident','Other_motar_vehicle_total_accident']]

result

,States/UTs,Two_wheeler_total_accident,Auto_rickshaws_total_accident,car_jeep_taxi_total_accident,Bus_total_accident,Truck_tempo_total_accident,Other_motar_vehicle_total_accident
0,Andhra Pradesh,13.812077,8.475376,7.351559,3.304672,8.250231,2.997482
1,Arunachal Pradesh,2.457132,1.228566,3.035281,1.084029,3.035281,0.000000
2,Assam,4.832470,0.935730,5.165743,2.012461,5.659245,3.489761
3,Bihar,1.681085,0.340059,1.431324,0.923156,2.716633,0.572529
4,Chhattisgarh,18.739334,1.217450,11.657768,2.642375,11.379830,6.451310
5,Goa,130.746737,2.331090,94.203470,24.270763,21.596865,0.205684
6,Gujarat,9.202562,3.616828,7.304802,1.927541,9.030489,2.916957
7,Haryana,4.461281,1.597541,10.441212,2.540287,11.573297,5.013518
8,Himachal Pradesh,11.857934,11.610287,9.672811,5.958102,5.433673,0.000000
9,Jammu & Kashmir,8.778993,0.510314,5.780899,12.678109,10.876064,7.582945
10,Jharkhand,3.607358,0.760880,2.352361,1.794585,4.774444,1.133741
11,Karnataka,17.598736,4.276925,12.539427,6.299994,13.483853,9.067801
12,Kerala,36.259887,15.078102,26.097061,14.497369,11.776306,4.900308
13,Madhya Pradesh,27.108447,2.815765,15.516309,4.627768,15.480509,7.001547
14,Maharashtra,12.537561,2.959751,16.372066,3.923494,9.647221,6.367112
15,Manipur,7.038323,1.470694,6.232943,1.330628,4.447099,5.497595
16,Meghalaya,1.516740,0.910044,3.707587,1.752678,2.595311,5.628792
17,Mizoram,2.916499,0.182281,2.460796,0.455703,3.919045,2.096234
18,Nagaland,2.830424,2.931511,3.790747,1.061409,0.859236,3.942377
19,Odisha,6.282428,1.369889,3.721332,1.824930,6.439667,2.401474
20,Punjab,5.759941,0.666827,6.217709,2.014898,4.988585,2.083383
21,Rajasthan,8.687288,0.716282,10.048369,2.655057,9.314581,4.484420
22,Sikkim,5.077165,0.000000,20.144879,0.000000,0.000000,7.861416
23,Tamil Nadu,33.276491,4.033430,25.802864,9.664986,12.417698,2.885774
24,Telangana,14.249007,7.958486,11.176603,4.517146,13.904873,5.747967
25,Tripura,3.865085,2.449702,3.756209,0.734910,3.484020,3.892304
26,Uttarakhand,2.290237,0.138802,4.352442,1.447509,4.550731,0.892300
27,Uttar Pradesh,2.451801,0.738693,3.172477,1.165093,4.193935,1.812200
28,West Bengal,3.849857,0.279372,1.605020,1.382618,3.768784,2.128706
29,Andaman & Nicobar Islands,24.173566,6.831660,15.239857,5.517879,3.415830,2.102049
30,Chandigarh,5.779525,0.852717,18.475532,3.316121,3.316121,3.221375
31,Dadra & Nagar Haveli,5.236988,1.163775,2.909438,1.454719,10.183033,4.073213
32,Daman & Diu,5.755467,0.411105,2.466629,0.411105,3.288838,3.699943
33,Delhi,7.773437,1.358118,16.714378,3.162985,7.308818,1.888260
34,Lakshadweep,1.551037,0.000000,0.000000,0.000000,0.000000,0.000000
35,Puducherry,42.709942,3.044986,18.510312,7.291941,13.462045,4.006561
36,Total,11.036334,2.574379,9.185080,3.416181,7.946038,3.632227

In [172]:
#.Q.25  Number of Persons Killed for each vehicle type per 1L people of that state.

#Load the dataset

df6=pd.read_csv('typeOfVehicle.csv')

#Number of Persons Killed for each vehicle type per 1L people of that state.

df6['Two_wheeler_total_killed']=df6['Two-Wheelers - Number of Persons - Killed - 2014 per 1L people']
df6['Auto_rickshaws_total_killed']=df6['Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people']
df6['car_jeep_taxi_total_killed']=df6['Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people']
df6['Bus_total_killed']=df6['Buses - Number of Persons - Killed - 2014 per 1L people']
df6['Truck_tempo_total_killed']=df6['Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people']
df6['Other_motar_vehicle_total_killed']=df6['Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people']

#display the result

result=df6[['States/UTs','Two_wheeler_total_killed','Auto_rickshaws_total_killed','car_jeep_taxi_total_killed','Bus_total_killed','Truck_tempo_total_killed','Other_motar_vehicle_total_killed']]

result

,States/UTs,Two_wheeler_total_killed,Auto_rickshaws_total_killed,car_jeep_taxi_total_killed,Bus_total_killed,Truck_tempo_total_killed,Other_motar_vehicle_total_killed
0,Andhra Pradesh,3.821742,1.864125,1.738196,1.081841,3.354280,1.541671
1,Arunachal Pradesh,1.517640,0.505880,1.806715,0.505880,1.878983,0.000000
2,Assam,1.720846,0.240342,1.708028,0.788321,2.041302,1.285027
3,Bihar,0.787708,0.138329,0.755047,0.521617,1.574456,0.279540
4,Chhattisgarh,4.407873,0.144841,2.536680,0.739865,4.235630,3.076899
5,Goa,9.187238,0.137123,4.319373,1.576914,2.262529,0.000000
6,Gujarat,2.794521,0.986107,2.265068,0.724689,3.443102,1.312052
7,Haryana,1.254366,0.710018,3.901156,1.301700,5.336970,2.386450
8,Himachal Pradesh,2.461905,4.413949,6.467964,1.835503,2.287095,0.000000
9,Jammu & Kashmir,2.041255,0.119605,1.355521,0.837234,1.770151,1.714336
10,Jharkhand,1.840056,0.391050,1.203463,0.821508,2.503931,0.588090
11,Karnataka,4.975833,0.721823,2.517379,1.700622,4.404594,1.484566
12,Kerala,2.882710,0.793269,3.188044,2.457638,1.882892,0.916001
13,Madhya Pradesh,3.104914,0.257481,2.172751,0.956947,3.899387,1.320449
14,Maharashtra,3.620044,0.555287,1.792224,0.424474,2.260303,1.326815
15,Manipur,1.155546,0.175083,1.050496,0.350165,1.750827,1.400661
16,Meghalaya,0.471875,0.269643,1.280803,0.370759,1.145982,0.539285
17,Mizoram,1.458249,0.000000,1.913952,0.455703,3.645624,1.913952
18,Nagaland,0.606519,0.909779,0.960323,0.353803,0.404346,0.859236
19,Odisha,2.501536,0.357362,1.398478,0.790962,2.923223,1.022056
20,Punjab,4.246064,0.364051,4.267691,1.402138,3.665745,1.585966
21,Rajasthan,2.774680,0.147341,3.871715,1.204987,4.834538,2.160516
22,Sikkim,0.818898,0.000000,6.714960,0.000000,0.000000,1.965354
23,Tamil Nadu,6.520019,0.433836,4.858135,2.748554,3.370894,1.835141
24,Telangana,4.337328,2.080305,2.824379,1.624560,6.222314,3.035200
25,Tripura,1.061537,0.517159,1.170413,0.244970,1.007100,0.707692
26,Uttarakhand,0.951787,0.079316,2.508355,1.338450,3.053649,0.674182
27,Uttar Pradesh,1.247170,0.388865,1.585488,0.626087,2.252614,0.948890
28,West Bengal,1.460404,0.098602,0.738419,0.734037,1.966560,0.821683
29,Andaman & Nicobar Islands,1.313781,0.788268,1.576537,0.788268,1.313781,0.262756
30,Chandigarh,1.894926,0.094746,4.926808,2.179165,1.421195,1.894926
31,Dadra & Nagar Haveli,4.073213,0.581888,1.745663,1.163775,6.982651,2.327550
32,Daman & Diu,3.288838,0.000000,0.000000,0.411105,1.233314,1.233314
33,Delhi,0.851802,0.160830,1.775084,0.673102,2.162266,0.327616
34,Lakshadweep,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,Puducherry,4.407217,0.240394,1.442362,0.961575,2.003281,3.044986
36,Total,2.686036,0.518559,2.150381,1.006314,2.949238,1.270177

In [174]:
#.Q.26 Total accidents, fatal accidents, killed and injured for each state per 1L people of that state.



#Load the Dataset
df6=pd.read_csv('typeOfVehicle.csv')

# Number of Total Accidents for each vehicle type per 1L people of that state.
df6['Two_wheeler_total_accident']=df6['Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people']
df6['Auto_rickshaws_total_accident']=df6['Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people']
df6['car_jeep_taxi_total_accident']=df6['Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people']
df6['Bus_total_accident']=df6['Buses - Number of Road Accidents - Total - 2014 per 1L people']
df6['Truck_tempo_total_accident']=df6['Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people']
df6['Other_motar_vehicle_total_accident']=df6['Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people']


#Number of Persons Killed for each vehicle type per 1L people of that state.

df6['Two_wheeler_total_killed']=df6['Two-Wheelers - Number of Persons - Killed - 2014 per 1L people']
df6['Auto_rickshaws_total_killed']=df6['Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people']
df6['car_jeep_taxi_total_killed']=df6['Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people']
df6['Bus_total_killed']=df6['Buses - Number of Persons - Killed - 2014 per 1L people']
df6['Truck_tempo_total_killed']=df6['Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people']
df6['Other_motar_vehicle_total_killed']=df6['Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people']

#Total injured per 1L people of that state.


df6['Two_wheeler_total_injured']=df6['Two-Wheelers - Number of Persons - Injured - 2014 per 1L people']
df6['Auto_rickshaws_total_injured']=df6['Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people']
df6['car_jeep_taxi_total_injured']=df6['Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people']
df6['Bus_total_injured']=df6['Buses - Number of Persons - Injured - 2014 per 1L people']
df6['Truck_tempo_total_injured']=df6['Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people']
df6['Other_motar_vehicle_total_injured']=df6['Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people']


#Total fatal accidents per 1L people of that state.
df6['Two_wheeler_total_fatal']=df6['Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people']
df6['Auto_rickshaws_total_fatal']=df6['Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people']
df6['car_jeep_taxi_total_fatal']=df6['Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people']
df6['Bus_total_fatal']=df6['Buses - Number of Road Accidents - Fatal - 2014 per 1L people']
df6['Truck_tempo_total_fatal']=df6['Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people']
df6['Other_motar_vehicle_total_fatal']=df6['Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people']

#display the result

result=df6[['States/UTs','Two_wheeler_total_accident','Auto_rickshaws_total_accident','car_jeep_taxi_total_accident','Bus_total_accident','Truck_tempo_total_accident','Other_motar_vehicle_total_accident','Two_wheeler_total_killed','Auto_rickshaws_total_killed','car_jeep_taxi_total_killed','Bus_total_killed','Truck_tempo_total_killed','Other_motar_vehicle_total_killed','Two_wheeler_total_injured','Auto_rickshaws_total_injured','car_jeep_taxi_total_injured','Bus_total_injured','Truck_tempo_total_injured','Other_motar_vehicle_total_injured','Two_wheeler_total_fatal','Auto_rickshaws_total_fatal','car_jeep_taxi_total_fatal','Bus_total_fatal','Truck_tempo_total_fatal','Other_motar_vehicle_total_fatal']]

result

,States/UTs,Two_wheeler_total_accident,Auto_rickshaws_total_accident,car_jeep_taxi_total_accident,Bus_total_accident,Truck_tempo_total_accident,Other_motar_vehicle_total_accident,Two_wheeler_total_killed,Auto_rickshaws_total_killed,car_jeep_taxi_total_killed,...,car_jeep_taxi_total_injured,Bus_total_injured,Truck_tempo_total_injured,Other_motar_vehicle_total_injured,Two_wheeler_total_fatal,Auto_rickshaws_total_fatal,car_jeep_taxi_total_fatal,Bus_total_fatal,Truck_tempo_total_fatal,Other_motar_vehicle_total_fatal
0,Andhra Pradesh,13.812077,8.475376,7.351559,3.304672,8.250231,2.997482,3.821742,1.864125,1.738196,...,10.358581,4.277756,9.814799,2.520480,3.741606,1.812609,1.696220,1.049405,3.245523,1.450087
1,Arunachal Pradesh,2.457132,1.228566,3.035281,1.084029,3.035281,0.000000,1.517640,0.505880,1.806715,...,5.203339,1.951252,6.142830,0.000000,1.084029,0.505880,1.228566,0.361343,1.517640,0.000000
2,Assam,4.832470,0.935730,5.165743,2.012461,5.659245,3.489761,1.720846,0.240342,1.708028,...,4.556878,2.525190,4.928606,2.868077,1.567028,0.208296,1.522164,0.564002,1.656755,1.198504
3,Bihar,1.681085,0.340059,1.431324,0.923156,2.716633,0.572529,0.787708,0.138329,0.755047,...,1.034588,0.653221,1.746407,0.425555,0.738717,0.121038,0.697410,0.459176,1.461103,0.260328
4,Chhattisgarh,18.739334,1.217450,11.657768,2.642375,11.379830,6.451310,4.407873,0.144841,2.536680,...,12.366316,5.206458,9.583014,4.662324,4.204313,0.121354,1.835961,0.579365,3.679752,2.998607
5,Goa,130.746737,2.331090,94.203470,24.270763,21.596865,0.205684,9.187238,0.137123,4.319373,...,36.543267,18.991529,7.198955,0.000000,8.912992,0.137123,4.113689,1.576914,2.262529,0.000000
6,Gujarat,9.202562,3.616828,7.304802,1.927541,9.030489,2.916957,2.794521,0.986107,2.265068,...,7.643983,2.270031,7.362711,2.854085,2.539722,0.838853,1.927541,0.602253,3.098957,1.161488
7,Haryana,4.461281,1.597541,10.441212,2.540287,11.573297,5.013518,1.254366,0.710018,3.901156,...,8.997509,2.433785,9.593135,5.617033,1.183364,0.508846,3.542202,1.242532,5.080575,2.354894
8,Himachal Pradesh,11.857934,11.610287,9.672811,5.958102,5.433673,0.000000,2.461905,4.413949,6.467964,...,28.901894,8.507412,8.886167,0.000000,2.403635,3.350522,2.971767,1.587856,1.791801,0.000000
9,Jammu & Kashmir,8.778993,0.510314,5.780899,12.678109,10.876064,7.582945,2.041255,0.119605,1.355521,...,6.131740,12.111980,11.745192,23.514305,1.802046,0.079737,1.116312,0.781418,1.626625,1.578783
10,Jharkhand,3.607358,0.760880,2.352361,1.794585,4.774444,1.133741,1.840056,0.391050,1.203463,...,2.167446,2.097724,3.910497,0.776037,1.630889,0.354673,0.963983,0.630530,2.137132,0.515337
11,Karnataka,17.598736,4.276925,12.539427,6.299994,13.483853,9.067801,4.975833,0.721823,2.517379,...,17.474340,7.967880,18.836147,12.017292,4.047775,0.590880,2.340606,1.409274,3.648399,1.918315
12,Kerala,36.259887,15.078102,26.097061,14.497369,11.776306,4.900308,2.882710,0.793269,3.188044,...,30.704009,21.118922,13.572387,5.032021,2.846789,0.751361,2.993469,2.224147,1.751179,0.877086
13,Madhya Pradesh,27.108447,2.815765,15.516309,4.627768,15.480509,7.001547,3.104914,0.257481,2.172751,...,16.002355,7.716159,15.706321,6.157506,2.786850,0.209289,1.759681,0.798603,3.418848,1.225443
14,Maharashtra,12.537561,2.959751,16.372066,3.923494,9.647221,6.367112,3.620044,0.555287,1.792224,...,7.593371,2.796902,6.241639,3.521267,3.305915,0.465409,1.589331,0.384429,2.171314,1.323256
15,Manipur,7.038323,1.470694,6.232943,1.330628,4.447099,5.497595,1.155546,0.175083,1.050496,...,11.310340,3.921852,7.843703,7.913736,1.155546,0.175083,0.910430,0.280132,1.330628,1.365645
16,Meghalaya,1.516740,0.910044,3.707587,1.752678,2.595311,5.628792,0.471875,0.269643,1.280803,...,2.224552,1.314508,1.112276,3.202007,0.471875,0.269643,1.213392,0.168527,1.112276,0.471875
17,Mizoram,2.916499,0.182281,2.460796,0.455703,3.919045,2.096234,1.458249,0.000000,1.913952,...,4.101326,1.093687,8.020372,5.468435,1.367109,0.000000,1.549390,0.455703,3.098780,1.549390
18,Nagaland,2.830424,2.931511,3.790747,1.061409,0.859236,3.942377,0.606519,0.909779,0.960323,...,2.779881,0.404346,0.707606,3.184227,0.505433,0.758149,0.758149,0.303260,0.404346,0.707606
19,Odisha,6.282428,1.369889,3.721332,1.824930,6.439667,2.401474,2.501536,0.357362,1.398478,...,4.667151,2.792190,7.497460,2.575390,2.356208,0.345450,1.181678,0.636105,2.618274,0.843375
20,Punjab,5.759941,0.666827,6.217709,2.014898,4.988585,2.083383,4.246064,0.364051,4.267691,...,4.037005,1.838279,3.319716,1.056109,3.892826,0.353238,4.026192,1.193079,3.424245,1.557131
21,Rajasthan,8.687288,0.716282,10.048369,2.655057,9.314581,4.484420,2.774680,0.147341,3.871715,...,11.943380,4.143056,9.714299,4.345832,2.700280,0.180894,3.512845,1.028470,4.205785,1.973787
22,Sikkim,5.077165,0.000000,20.144879,0.000000,0.000000,7.861416,0.818898,0.000000,6.714960,...,37.014169,0.000000,0.000000,15.722833,0.818898,0.000000,5.896062,0.000000,0.000000,1.801575
23,Tamil Nadu,33.276491,4.033430,25.802864,9.664986,12.417698,2.885774,6.520019,0.433836,4.858135,...,33.010368,13.656834,15.022101,0.912026,6.334287,0.418590,4.320344,2.536487,3.047943,1.729801
24,Telangana,14.249007,7.958486,11.176603,4.517146,13.904873,5.747967,4.337328,2.080305,2.824379,...,11.923777,4.061401,19.221898,2.948391,4.160611,1.853983,2.532950,1.491247,5.803773,2.551552
25,Tripura,3.865085,2.449702,3.756209,0.734910,3.484020,3.892304,1.061537,0.517159,1.170413,...,8.111234,3.402363,6.369224,6.287567,1.007100,0.517159,0.952662,0.163313,0.898224,0.653254
26,Uttarakhand,2.290237,0.138802,4.352442,1.447509,4.550731,0.892300,0.951787,0.079316,2.508355,...,5.581833,2.230750,3.291596,0.922044,0.803070,0.059487,1.873830,0.822899,2.805788,0.545295
27,Uttar Pradesh,2.451801,0.738693,3.172477,1.165093,4.193935,1.812200,1.247170,0.388865,1.585488,...,2.412764,0.978919,2.742573,1.178606,1.095528,0.323303,1.347264,0.540007,1.942823,0.847795
28,West Bengal,3.849857,0.279372,1.605020,1.382618,3.768784,2.128706,1.460404,0.098602,0.738419,...,1.601733,1.806606,3.486126,1.781408,1.377140,0.098602,0.633243,0.723081,1.825231,0.818396
29,Andaman & Nicobar Islands,24.173566,6.831660,15.239857,5.517879,3.415830,2.102049,1.313781,0.788268,1.576537,...,16.028125,12.612295,8.933709,0.788268,1.051025,0.788268,1.576537,0.788268,0.788268,0.262756
30,Chandigarh,5.779525,0.852717,18.475532,3.316121,3.316121,3.221375,1.894926,0.094746,4.926808,...,17.243830,2.368658,2.463404,1.042209,1.894926,0.094746,4.832062,1.610687,1.421195,1.894926
31,Dadra & Nagar Haveli,5.236988,1.163775,2.909438,1.454719,10.183033,4.073213,4.073213,0.581888,1.745663,...,5.236988,0.581888,11.346808,3.782269,3.491326,0.581888,1.163775,1.163775,6.400763,2.327550
32,Daman & Diu,5.755467,0.411105,2.466629,0.411105,3.288838,3.699943,3.288838,0.000000,0.000000,...,4.111048,0.000000,3.288838,2.877733,3.288838,0.000000,0.000000,0.411105,1.233314,1.233314
33,Delhi,7.773437,1.358118,16.714378,3.162985,7.308818,1.888260,0.851802,0.160830,1.775084,...,18.018886,3.067678,6.308099,1.924000,0.816062,0.160830,1.679777,0.667146,2.096743,0.327616
34,Lakshadweep,1.551037,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,Puducherry,42.709942,3.044986,18.510312,7.291941,13.462045,4.006561,4.407217,0.240394,1.442362,...,14.503751,12.580602,12.660733,14.904407,3.605905,0.240394,2.083412,1.362231,3.445643,0.881443
36,Total,11.036334,2.574379,9.185080,3.416181,7.946038,3.632227,2.686036,0.518559,2.150381,...,9.366357,4.241301,7.807046,3.221360,2.482874,0.458602,1.883215,0.884499,2.649450,1.206007

In [184]:
# Q .27. Number of Accidents happening in DAY and NIGHT TIME for 2014 and 2016


#load dataset
df7=pd.read_excel('timeOfOccurence.xls')

# count number of  Accidents happening in DAY and NIGHT TIME for 2014 and 2016

df7['Day_accident_2014'] = (df7['06-900hrs - Day - 2014'] + df7['09-1200hrs - Day - 2014'] + df7['12-1500hrs - Day - 2014'] + df7['15-1800hrs - Day - 2014'])

df7['night_accident_2014'] = (df7['18-2100hrs - Night - 2014'] + df7['21-2400hrs - Night - 2014'] + df7['00-300hrs - Night - 2014'] + df7['03-600hrs - Night - 2014'])

df7['Day_accident_2016'] = (df7['06-900hrs - (Day) - 2016'] + df7['09-1200hrs - (Day) - 2016'] + df7['12-1500hrs - (Day) - 2016'] + df7['15-1800hrs - (Day) - 2016'])

df7['night_accident_2016'] = (df7['18-2100hrs - (Night) - 2016'] + df7['21-2400hrs - (Night) - 2016'] + df7['00-300hrs - (Night) - 2016'] + df7['03-600hrs - (Night) - 2016'])

# display result
result = df7[['States/Uts', 'Day_accident_2014', 'night_accident_2014', 'Day_accident_2016', 'night_accident_2016']]
print(result)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
           States/Uts  Day_accident_2014  night_accident_2014  \
0      Andhra Pradesh              13093                11347
1   Arunachal Pradesh                121                   84
2               Assam               5215                 1929
3               Bihar               6063                 3493
4        Chhattisgarh               8607                 5214
5                 Goa               2591                 1638
6             Gujarat              13897                 9815
7             Haryana               5758                 4918
8    Himachal Pradesh               1951                 1107
9     Jammu & Kashmir               4065                 1796
10          Jharkhand               3382                 1819
11          Karnataka              24860                18853
12             Kerala              24638                11644
13     Madhya Pradesh              35740                17732
14        Maharashtra              34923                26704
15            Manipur                501                  242
16          Meghalaya                187                  355
17            Mizoram                 71                   61
18           Nagaland                282                   23
19             Orissa               5545                 4103
20             Punjab               3683                 2708
21          Rajasthan              15201                 9427
22             Sikkim                145                   58
23         Tamil Nadu              39423                27827
24          Telangana              10180                 9898
25            Tripura                483                  233
26        Uttarakhand                914                  496
27      Uttar Pradesh              17889                13145
28        West Bengal               7633                 5242
29      A & N Islands                144                   74
30         Chandigarh                192                  177
31       D & N Haveli                 50                   37
32        Daman & Diu                 22                   17
33              Delhi               4306                 4317
34        Lakshadweep                  1                    0
35         Puducherry                651                  460
36              Total             292407               196993

    Day_accident_2016  night_accident_2016
0               14188                10700
1                 158                   91
2                4793                 2642
3                5112                 3110
4                8523                 5057
5                2617                 1687
6               12859                 9000
7                6134                 5100
8                1867                 1301
9                4032                 1469
10               2805                 2127
11              26600                17803
12              27238                12182
13              34151                19821
14              21701                18177
15                334                  204
16                290                  330
17                 54                   29
18                 53                   22
19               6278                 4254
20               3983                 2969
21              14632                 8434
22                153                   57
23              41464                29967
24              12730                10081
25                384                  173
26                994                  597
27              19994                15618
28              10403                 3177
29                164                   74
30                228                  200
31                 38                   32
32                 34                   37
33               3566                 3809
34                  0                    1
35                953                  813
36             289507               191145